{% extends 'base.html' %}

{% block title %}
Chart List
{% endblock %}

{% block content %}
<div class="container mt-5">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th colspan="2" style="text-align: center;">Chart List</th>
            </tr>
            <tr>
                <th scope="col">Tipe</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for chart in charts %}
            <tr>
                <td>{{ chart.tipe }}</td>
                <td>
                    {% if chart.tipe == "Daily Top 20" %}
                        <a href="{% url 'chart:chart_detail' 'daily' %}" class="btn btn-secondary">View Chart</a>
                    {% elif chart.tipe == "Weekly Top 20" %}
                        <a href="{% url 'chart:chart_detail' 'weekly' %}" class="btn btn-secondary">View Chart</a>
                    {% elif chart.tipe == "Monthly Top 20" %}
                        <a href="{% url 'chart:chart_detail' 'monthly' %}" class="btn btn-secondary">View Chart</a>
                    {% elif chart.tipe == "Yearly Top 20" %}
                        <a href="{% url 'chart:chart_detail' 'yearly' %}" class="btn btn-secondary">View Chart</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-secondary" onclick="goBack()">Kembali</button>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}
