{% extends 'base.html' %}

{% block title %}Tambah Lagu ke Playlist{% endblock title %}

{% block content %}

<div>
    <h1 class="text-center mb-5">Add Song to User Playlist</h1> 

    <div class="mb-3">
        <div class="d-flex justify-content-center mb-3">
            <form method="POST" action="#" id="add-song-form">
                {% csrf_token %}
                <table class="mb-3">
                    <tr>
                        <td><p class="fs-5 mb-1" style="width: 80px;"><b>&nbsp&nbsp&nbspJudul: </b></td>
                        <td>{{ lagu }}</td>
                    </tr>
                    <tr>
                        <td><p class="fs-5 mb-1" style="width: 80px;"><b>&nbsp&nbsp&nbspArtist: </b></td>
                        <td>{{ artist }}</td>
                    </tr>
                    <tr>
                        <td style="width: 80px;">
                            <p class="fs-5 mb-0"><b>Playlist: </b></p>
                        </td>
                        <td>
                            <select name="playlist_dropdown" id="playlist-dropdown" class="form-select form-select-sm" style="min-width: max-content;" required>
                                <option value="" selected disabled>Choose Playlist</option>
                                {% for playlist in data_playlist %}
                                    <option value="{{ playlist.id_playlist }}">{{ playlist.judul }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="text-center">
                    <input class="btn btn-secondary btn-block mx-1" type="submit" value="Tambah" style="width: 100px;">
                    <a href="../">
                        <button type="button" class="btn btn-secondary btn-block mx-1">Kembali</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('add-song-form').addEventListener('submit', function(event) {
        var dropdown = document.getElementById('playlist-dropdown');
        var selectedPlaylistId = dropdown.value;

        var actionUrl = `../add-to-playlist-post/${selectedPlaylistId}/`;
        this.action = actionUrl;
    });
</script>

{% endblock content %}
