{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Create Album</title>
    <style>
        body {
            min-height: 100vh;
            margin: 0;
            background-color: #f2f2f2;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px #808080;
            width: 80%; 
            margin: 20px auto; 
        }

        h2 {
            text-align: center; 
        }

        form, table {
            width: 100%; 
        }

        input[type="text"],
        select,
        input[type="submit"] {
            width: calc(100% - 22px); 
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #808080;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 12px 20px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #888;
        }

      
    </style>
{% endblock meta %}

{% block content %}
    <div class="container">
        <h2>Create Album</h2>
        <form method="post">
            {% csrf_token %}
            Judul: <br>
            <input type="text" name="judul"><br>
            Label: <br>
            <select name="label">
                {% for label in labels %}
                <option value="{{ label.id }}">{{ label.nama }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock content %}
