{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>List Album</title>
    <style>
        body {
            min-height: 100vh;
            margin: 0;
            background-color: #f2f2f2;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px #808080;
            width: 80%;
            margin: 20px auto;
        }

        h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #808080;
            color: white;
        }

        td {
            background-color: #f2f2f2;
        }

        .action-btns a {
            text-decoration: none;
            color: #808080;
            padding: 8px 12px;
            border-radius: 5px;
            border: 1px solid #666;
            transition: background-color 0.3s ease;
            display: inline-block;
            margin: 0 5px;
        }

        .action-btns a:hover {
            background-color: #808080;
            color: #fff;
        }

        .create-album-btn {
            text-decoration: none;
            color: #fff;
            background-color: #808080;
            padding: 15px 30px; 
            border-radius: 5px;
            border: 1px solid #9d9d9d;
            transition: background-color 0.3s ease;
            display: inline-block;
            margin-top: 10px;
            text-align: center;
            display: block; /* Ensure button takes full width */
            margin: 0 auto; /* Center horizontally */
        }

        .create-album-btn:hover {
            background-color: #535353;
            border: 1px solid #1f1f1f;
        }
    </style>
{% endblock meta %}

{% block content %}
    <div class="container">
        <h2>List Album</h2>
        <table>
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Label</th>
                    <th>Jumlah Lagu</th>
                    <th>Total Durasi</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if albums %}
                {% for album in albums %}
                <tr>
                    <td>{{ album.judul }}</td>
                    <td>{{ album.label }}</td>
                    <td>{{ album.jumlah_lagu }}</td>
                    <td>{{ album.total_durasi }}</td>
                    <td class="action-btns">
                        <a href="{% url 'song:list_songs' album.id %}">Lihat Daftar Lagu</a>
                        <a href="{% url 'song:create_song' album.id %}">Tambah Lagu</a>
                        <a href="{% url 'song:delete_album' album.id %}">Hapus</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="no-data">Data lagu belum ada.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <a href="{% url 'song:create_album' %}" class="create-album-btn">Tambah Album</a>
    </div>
{% endblock content %}
