{% extends 'base.html' %}

{% block title %}User Playlist{% endblock title %}

{% block content %}

<div>
    <h1 class="text-center mb-4">User Playlist</h1> 

    {% if has_playlist %}
        <table id="tabel_lagu" class="table table-bordered text-center mb-3">
            <thead>
                <tr>
                    <th colspan="4" style="background-color: hsl(195, 5%, 84%);">User Playlist</th>
                </tr>
                <tr>
                    <th scope="col" style="background-color: hsl(195, 5%, 84%);">Judul</th>
                    <th scope="col" style="background-color: hsl(195, 5%, 84%);">Jumlah Lagu</th>
                    <th scope="col" style="background-color: hsl(195, 5%, 84%);">Total Durasi</th>
                    <th scope="col" style="background-color: hsl(195, 5%, 84%);">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in list_playlist %}
                <tr>
                    <td scope="row">{{playlist.0}}</td>
                    <td>{{playlist.1}}</td>
                    <td>{{playlist.2}}</td>
                    <td>
                        <a href="detail/{{playlist.3}}/">
                            <button type="button" class="btn btn-secondary btn-block mx-1">Detail</button>
                        </a>
                        <a href="edit/{{playlist.3}}/">
                            <button type="button" class="btn btn-secondary btn-block mx-1">Ubah</button>
                        </a>
                        <a href="delete/{{playlist.3}}/">
                            <button type="button" class="btn btn-secondary btn-block mx-1">Hapus</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td scope="row" colspan="4">
                        <a href="create/">
                            <button type="button" class="btn btn-secondary btn-block mx-1">Tambah Playlist</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>        
    {% else %}
        <div class="text-center mb-4">
            <p class="fs-5 mb-0"><b>Anda Belum Memiliki Playlist</b></p>
            <br>
            <a href="create/">
                <button type="button" class="btn btn-secondary btn-block mx-1">Tambah Playlist</button>
            </a>
        </div>
    {% endif %}
</div>

{% endblock content %}