{% extends 'base.html' %}

{% block title %}Playlist Detail{% endblock title %}

{% block content %}

<div>
    <h1 class="text-center mb-3">User Playlist Details</h1> 

    <p class="fs-5 mb-0"><b>Judul: </b>{{playlist.judul}}</p>
    <p class="fs-5 mb-0"><b>Pembuat: </b>{{pembuat}}</p>
    <p class="fs-5 mb-0"><b>Jumlah Lagu: </b>{{playlist.jumlah_lagu}}</p>
    <p class="fs-5 mb-0"><b>Total Durasi: </b>{{durasi_playlist}}</p>
    <p class="fs-5 mb-0"><b>Tanggal Dibuat: </b>{{playlist.tanggal_dibuat}}</p>
    <p class="fs-5 mb-0"><b>Deskripsi: </b>{{playlist.deskripsi}}</p>

    <br>

    <div class="text-center">
        <div class="justify-content-center mb-3">
            <a href="shuffle-play/">
                <button type="button" class="btn btn-secondary btn-block mx-1">Shuffle Play</button>
            </a>
            <a href="../../">
            <button type="button" class="btn btn-secondary btn-block mx-1">Kembali</button>
            </a>
        </div>
    </div>

    <table id="tabel_lagu" class="table table-bordered text-center">
        <thead>
            <tr>
                <th colspan="4" style="background-color: hsl(195, 5%, 84%);">Daftar Lagu</th>
            </tr>
            <tr>
                <th scope="col" style="background-color: hsl(195, 5%, 84%);">Judul Lagu</th>
                <th scope="col" style="background-color: hsl(195, 5%, 84%);">Oleh</th>
                <th scope="col" style="background-color: hsl(195, 5%, 84%);">Durasi</th>
                <th scope="col" style="background-color: hsl(195, 5%, 84%);">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for l in list_lagu %}
            <tr>
                <td scope="row">{{ l.0 }}</td>
                <td>{{ l.1 }}</td>
                <td>{{ l.2 }}</td>
                <td>
                    <a href="../../../song/play/{{ l.3 }}/">
                        <button type="button" class="btn btn-secondary btn-block mx-1">Lihat</button>
                    </a>
                    <a href="play-stay/{{ l.3 }}/">
                        <button type="button" class="btn btn-secondary btn-block mx-1">Play</button>
                    </a>
                    <a href="delete-song/{{ l.3 }}/">
                        <button type="button" class="btn btn-secondary btn-block mx-1">Hapus</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td scope="row" colspan="4">
                    <a href="add-song/">
                        <button type="button" class="btn btn-secondary btn-block mx-1">Tambah Lagu</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

</div>

{% endblock content %}