<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ps-lg-3" href="">Marmut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="">Dashboard</a>
        </li>
        {% if user.is_authenticated %}
          {% if user.is_premium %}
          <li class="nav-item">
            <a class="nav-link" href="">Downloaded Songs</a>
          </li>
          {% endif %}
          {% if user.is_podcaster %}
            <li class="nav-item">
              <a class="nav-link" href="">Kelola Podcast</a>
            </li>
          {% endif %}
          {% if user.is_artist or user.is_songwriter %}
            <li class="nav-item">
              <a class="nav-link" href="">Kelola Album & Songs</a>
            </li>
          {% endif %}
          {% if user.is_label %}
            <li class="nav-item">
              <a class="nav-link" href="">Kelola Album</a>
            </li>
          {% endif %}
          {% if user.is_artist or user.is_songwriter or user.is_label %}
            <li class="nav-item">
              <a class="nav-link" href="">Cek Royalti</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="">Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Kelola Playlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Langganan Paket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <form class="d-flex pe-lg-3" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </nav>