{% extends 'base.html' %}

{% block title %}Manage Podcasts{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Podcast List</h2>
    <a class="btn btn-secondary" href="{% url 'podcast:create_podcast' %}">Create Podcast</a>
    <table class="table my-3">
        <thead class="table-dark">
            <tr>
                <th scope="col">Judul</th>
                <th scope="col">Jumlah Episode</th>
                <th scope="col">Total Durasi</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for podcast, jumlah_episode in podcasts %}
            <tr>
                <td>{{ podcast.judul }}</td>
                <td>{{ jumlah_episode }}</td>
                <td>{{ podcast.durasi }}</td>
                <td>
                    <a href="{% url 'podcast:episode_list' podcast.id %}" class="btn btn-dark">Lihat Episode</a>
                    <a href="{% url 'podcast:create_episode' podcast.id %}" class="btn btn-secondary">Tambah Episode</a>
                    <a href="{% url 'podcast:update_podcast' podcast.id %}" class="btn btn-secondary">Edit Podcast</a>
                    <form method="post" action="{% url 'podcast:delete_podcast' podcast.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No podcasts available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
