{% extends 'base.html' %}

{% block title %}Update Podcast{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Update Podcast</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.judul.id_for_label }}" class="form-label">{{ form.judul.label }}</label>
            {{ form.judul }}
            {% if form.judul.errors %}
                <div class="text-danger">{{ form.judul.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.genre.id_for_label }}" class="form-label">{{ form.genre.label }}</label>
            {{ form.genre }}
            <small class="form-text text-muted">Tahan tombol Ctrl (Windows) atau Command (Mac) untuk memilih lebih dari 1 genre.</small>
            {% if form.genre.errors %}
                <div class="text-danger">{{ form.genre.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-secondary">Update</button>
        <a href="{% url 'podcast:manage_podcast' %}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% endblock %}
