{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<div>
    <h1 class="text-center">Welcome to Marmut!</h1> 

    <br>

    <p class="fs-5 mb-1"><b>Nama: </b>{{ nama }}</p>
    <p class="fs-5 mb-1"><b>Email: </b>{{ email }}</p>

    {% if request.session.is_label %}
        <p class="fs-5 mb-1"><b>Kontak: </b>{{ kontak }}</p>
    {% else %}
        <p class="fs-5 mb-1"><b>Kota asal: </b>{{ kota_asal }}</p>
        <p class="fs-5 mb-1"><b>Gender: </b>{{ gender }}</p>
        <p class="fs-5 mb-1"><b>Tempat lahir: </b>{{ tempat_lahir }}</p>
        <p class="fs-5 mb-1"><b>Tanggal lahir: </b>{{ tanggal_lahir }}</p>
        <p class="fs-5 mb-1"><b>Role(s): </b>{{ roles }}</p>
    {% endif %}

    <br>

    {% if request.session.is_label %}
        <p class="fs-5 mb-0"><b>Daftar Album:</b></p>
        {% if has_album %}
            <table id="tabel_album" class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">No.</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Judul</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Label</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Jumlah Lagu</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Total Durasi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in data_album %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td>{{album.judul}}</td>
                        <td>{{album.nama_label}}</td>
                        <td>{{album.jumlah_lagu}}</td>
                        <td>{{album.total_durasi}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}  
            <p class="fs-5 mb-0"><b>Belum Memproduksi Album</b></p>
        {% endif %}
        <br>
    
    {% else %}
        <p class="fs-5 mb-0"><b>Daftar Playlist:</b></p>
        {% if has_playlist %}
            <table id="tabel_playlist" class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">No.</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Judul</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Jumlah Lagu</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Total Durasi</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Tanggal Rilis</th>
                        <th scope="col" style="background-color: hsl(195, 5%, 84%);">Deskripsi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for playlist in data_playlist %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td>{{playlist.judul}}</td>
                        <td>{{playlist.jumlah_lagu}}</td>
                        <td>{{playlist.total_durasi}}</td>
                        <td>{{playlist.tanggal_rilis}}</td>
                        <td>{{playlist.deskripsi}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}  
            <p class="fs-5 mb-0"><b>Belum Memiliki Playlist</b></p>
        {% endif %}
        <br>

        {% if request.session.is_songwriter or request.session.is_artist %}
            {% if has_lagu %}
                <p class="fs-5 mb-0"><b>Daftar Lagu:</b></p>
                <table id="tabel_lagu" class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">No.</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Judul</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Durasi</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Tanggal Rilis</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Total Play</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Total Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lagu in data_lagu %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{lagu.judul}}</td>
                            <td>{{lagu.durasi}}</td>
                            <td>{{lagu.tanggal_rilis}}</td>
                            <td>{{lagu.total_play}}</td>
                            <td>{{lagu.total_download}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}  
                <p class="fs-5 mb-0"><b>Belum Memiliki Lagu</b></p>
            {% endif %}
            <br>
        {% endif %}

        {% if request.session.is_podcaster %}
            {% if has_podcast %}
                <p class="fs-5 mb-0"><b>Daftar Podcast:</b></p>
                <table id="tabel_podcast" class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">No.</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Judul</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Tanggal Rilis</th>
                            <th scope="col" style="background-color: hsl(195, 5%, 84%);">Durasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for podcast in data_podcast %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{podcast.judul}}</td>
                            <td>{{podcast.tanggal_rilis}}</td>
                            <td>{{podcast.durasi}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}  
                <p class="fs-5 mb-0"><b>Belum Memiliki Podcast</b></p>
            {% endif %}
            <br>

        {% endif %}
    {% endif %}
</div>

{% endblock content %}